@import "tailwindcss";
*{
  font-family: 'Poppins', sans-serif;
}
.custom-line {
  height: 0.1px;
  opacity: 0.3;
}
/*Splash Load bar*/
@keyframes loadBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    
  }
}

.animate-load-bar {
  animation: loadBar 6.8s ease-in-out forwards ;
}






