@import "tailwindcss";

/*Splash Load bar*/
@keyframes loadBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-load-bar {
  animation: loadBar 7.5s ease-in-out forwards;
}






